<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	</head>
	
	<body>
		<ion-header-bar class="bar-positive">
			<h1 class="title">
				<img class="title-image" src="img/home/chuGrenoble.jpg " width="40" height="20" /> 
				ETP Greffe Pulmonaire
			</h1>
	  	</ion-header-bar>
	  	
	  	<div class="bar bar-subheader bar-positive">
		  	<h2 class="title">Accueil</h2>
		</div>
		
		<ion-nav-view>
			<ion-view view-title="ETP Greffe Pulmonaire - Accueil"  hide-back-button="true">
					
				<!-- The content of the page -->
				<ion-content class="has-header has-subheader">
				
				<div class="row">
					<div class="col-33 col-offset-33">
						
							<img class="img-responsive" src="img/home/chuGrenoble.jpg" ui-sref="choice_circuit">
						
					<div class="col">
				</div>
					
				</ion-content>
				
			</ion-view>
		</ion-nav-view>
	</body>
</html>