<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	</head>
	
	<body>
		<ion-header-bar class="bar-positive">
			<a class="button button-icon icon ion-chevron-left white" ui-sref="list_patients"> Liste patients</a>
			<h1 class="title">
				<img class="title-image" src="img/home/chuGrenoble.jpg " width="40" height="20" /> 
				ETP Greffe Pulmonaire
			</h1>
	  	</ion-header-bar>
	  	
	  	<div class="bar bar-subheader bar-positive">
		  	<h2 class="title">Liste des patients</h2>
		</div>
			
			<ion-nav-view>
				<ion-view  title="ETP Greffe Pulmonaire - Liste patients">
				  
					<ion-content  class="has-header has-subheader has-footer">
				  		
						Blabla
				
			  		</ion-content>
				</ion-view>
			</ion-nav-view>
		</div>
	</body>
</html>