<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	</head>
	
	<body>
		<ion-header-bar class="bar-positive">
			<a class="button button-icon icon ion-chevron-left white" ui-sref="list_patients"> Liste patients</a>
			<h1 class="title">
				<img class="title-image" src="img/home/chuGrenoble.jpg " width="40" height="20" /> 
				ETP Greffe Pulmonaire
			</h1>
            <a id="button_save_patient" class="button button-icon icon ion-checkmark-round white" 
               ng-click="vm.savePatient()" ng-if="vm.edition"> 
                Enregistrer
            </a>
            <a id="button_save_patient" class="button button-icon icon ion-edit white" 
               ng-click="vm.edition = !vm.edition" ng-if="!vm.edition"> 
                Modifier
            </a>
	  	</ion-header-bar>
	  	
	  	<div class="bar bar-subheader bar-positive">
		  	<h2 class="title">Fiche patient</h2>
		</div>
			
        <ion-nav-view>
            <ion-view  title="ETP Greffe Pulmonaire - Liste patients">

                <ion-content  class="has-header has-subheader has-footer">

                    <div class="list">
                        <!-- lastname -->
                        <h4 class="maincolor" style="padding-left:10px">Patient</h4>

                        <label class="item item-input">
                            <input type="text" name="lastname" ng-model="vm.lastname" placeholder="Nom" required
                                   ng-readonly="!vm.edition">
                        </label>

                        <!-- firstname -->
                        <label class="item item-input">
                            <input type="text" name="firstname" ng-model="vm.firstname" placeholder="Prénom" required
                                   ng-readonly="!vm.edition">
                        </label> 

                        <!-- Button Access sessions -->
                        <div class="row" style="margin-top:10px;" ng-if="vm.patientId != -1">
                            <div class="col">
                                <button class="button button-block button-energized icon-left" 
                                        ui-sref='choice_session ( {patientId: vm.patientId} )'>
                                    <i class="icon ion-filing"></i> Accéder aux séances
                                </button>
                            </div>
                        </div>

                        <!-- Button Access prescription -->
                        <div class="row" ng-if="vm.patientId != -1">
                            <div class="col">
                                <button class="button button-block button-energized icon-left" 
                                        ui-sref='display_prescription ( {patientId: vm.patientId} )'>
                                    <i class="icon ion-medkit"></i> Accéder à la prescription
                                </button>
                            </div>
                        </div>

                        <!-- birthdate -->
                        <h4 class="maincolor" style="margin-top:20px; padding-left:10px">Date de naissance</h4>
                        <label class="item item-input">
                            <input type="date" ng-model="vm.birthdate" class="bold"
                                   ng-readonly="!vm.edition">
                        </label>

                        <!-- graftdate -->
                        <h4 class="maincolor" style="margin-top:20px; padding-left:10px">Date de greffe</h4>
                        <label class="item item-input">
                            <input type="date" ng-model="vm.graftdate" class="bold"
                                   ng-readonly="!vm.edition">
                        </label> 

                        <!-- graftType -->
                        <h4 class="maincolor" style="margin-top:20px; padding-left:10px">Type de greffe</h4>
                        <select class="ion-input-select-large"	ng-options="id as grafttype for (id, grafttype) in vm.listGraftType"
                                ng-model="vm.graftType" ng-init="vm.graftType=vm.graftType"
                                ng-disabled="!vm.edition">         
                        </select>

                        <!-- graftIndication -->
                        <h4 class="maincolor" style="margin-top:20px; padding-left:10px">Indication de la greffe</h4>
                        <select class="ion-input-select-large"	
                                ng-options="id as graftindication for (id, graftindication) in vm.listGraftIndication"
                                ng-model="vm.graftIndication" ng-init="vm.graftIndication=vm.graftIndication"
                                ng-disabled="!vm.edition">         
                        </select>

                        <!-- cmvStatus -->
                        <h4 class="maincolor" style="margin-top:20px; padding-left:10px">Statut CMV</h4>
                        <div class="row">
                            <div class="col-20" style="padding-left: 10px;">
                            </div>
                            <div class="col-20" style="padding-left: 10px;">
                                <i class="ion-minus assertive"> Négatif</i>
                            </div>
                            <div class="col-20" style="padding-left: 10px;">
                                <i class="ion-plus balanced"> Positif</i>
                            </div>
                        </div>

                        <div class="row" ng-init="vm.cmvStatusReceiver = vm.cmvStatusReceiver">
                            <div class="col-20" style="padding-left: 10px;">
                                Receveur
                            </div>
                            <div class="col-20" style="padding-left: 10px;">
                                <label class="toggle toggle-assertive">
                                    <input type="radio" ng-model="vm.cmvStatusReceiver" value="0" ng-disabled="!vm.edition">
                                    <div class="track">
                                        <div class="handle"></div>
                                    </div>
                                </label>
                            </div>
                            <div class="col-20" style="padding-left: 10px;">
                                <label class="toggle toggle-balanced">
                                    <input type="radio" ng-model="vm.cmvStatusReceiver" value="1" ng-disabled="!vm.edition">
                                    <div class="track">
                                        <div class="handle"></div>
                                    </div>
                                </label>
                            </div>
                        </div>

                        <div class="row" ng-init="vm.cmvStatusDonor = vm.cmvStatusDonor">
                            <div class="col-20" style="padding-left: 10px;">
                                Donneur
                            </div>
                            <div class="col-20" style="padding-left: 10px;">
                                <label class="toggle toggle-assertive">
                                    <input type="radio" value="0" ng-model="vm.cmvStatusDonor" ng-disabled="!vm.edition">
                                    <div class="track">
                                        <div class="handle"></div>
                                    </div>
                                </label>
                            </div>
                            <div class="col-20" style="padding-left: 10px;">
                                <label class="toggle toggle-balanced">
                                    <input type="radio" value="1" ng-model="vm.cmvStatusDonor" ng-disabled="!vm.edition">
                                    <div class="track">
                                        <div class="handle"></div>
                                    </div>
                                </label>
                            </div>
                        </div>

                        <!-- ebvStatus -->
                        <h4 class="maincolor" style="margin-top:20px; padding-left:10px">Statut EBV</h4>
                        <div class="row">
                            <div class="col-20" style="padding-left: 10px;">
                            </div>
                            <div class="col-20" style="padding-left: 10px;">
                                <i class="ion-minus assertive"> Négatif</i>
                            </div>
                            <div class="col-20" style="padding-left: 10px;">
                                <i class="ion-plus balanced"> Positif</i>
                            </div>
                        </div>

                        <div class="row" ng-init="vm.ebvStatusReceiver = vm.ebvStatusReceiver">
                            <div class="col-20" style="padding-left: 10px;">
                                Receveur
                            </div>
                            <div class="col-20" style="padding-left: 10px;">
                                <label class="toggle toggle-assertive">
                                    <input type="radio" ng-model="vm.ebvStatusReceiver" value="0" ng-disabled="!vm.edition">
                                    <div class="track">
                                        <div class="handle"></div>
                                    </div>
                                </label>
                            </div>
                            <div class="col-20" style="padding-left: 10px;">
                                <label class="toggle toggle-balanced">
                                    <input type="radio" ng-model="vm.ebvStatusReceiver" value="1" ng-disabled="!vm.edition">
                                    <div class="track">
                                        <div class="handle"></div>
                                    </div>
                                </label>
                            </div>
                        </div>

                        <div class="row" ng-init="vm.ebvStatusDonor = vm.ebvStatusDonor">
                            <div class="col-20" style="padding-left: 10px;">
                                Donneur
                            </div>
                            <div class="col-20" style="padding-left: 10px;">
                                <label class="toggle toggle-assertive">
                                    <input type="radio" value="0" ng-model="vm.ebvStatusDonor" ng-disabled="!vm.edition">
                                    <div class="track">
                                        <div class="handle"></div>
                                    </div>
                                </label>
                            </div>
                            <div class="col-20" style="padding-left: 10px;">
                                <label class="toggle toggle-balanced">
                                    <input type="radio" value="1" ng-model="vm.ebvStatusDonor" ng-disabled="!vm.edition">
                                    <div class="track">
                                        <div class="handle"></div>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- Comments -->
                    <h4 class="maincolor" style="margin-top:20px; padding-left:10px">Commentaires</h4>
                    <div class="col" ng-if="vm.edition">
                        <label class="item item-input">
                            <input id="input_new_comment" type="text" 
                                   ng-model="vm.new_comment" placeholder="Nouveau commentaire"
                                   ng-readonly="!vm.edition">
                        </label>
                    </div>

                    <div class="row" style="margin-top:20px;" ng-if="vm.edition">
                        <div class="button-bar col-50">
                            <button class="button button-positive icon-left ion-plus-round"
                                    ng-click="vm.addComment(vm.new_comment)">Ajouter</button>
                        </div>
                       <div class="col-25 col-offset-25">
                            <button class="button button-clear button-assertive icon ion-close-round"
                                ng-click="vm.showDelete = !vm.showDelete; vm.showReorder = false"
                                ng-if="vm.edition">
                            </button>
                            <button class="button button-clear button-energized icon ion-shuffle"
                                ng-click="vm.showDelete = false; vm.showReorder = !vm.showReorder"
                                ng-if="vm.edition">
                            </button>
                            <button class="button button-clear button-dark icon ion-edit"
                                 ng-click="vm.showDelete = false; vm.showReorder = false"
                                 ng-if="vm.edition">
                            </button>
                        </div>
                    </div>

                    <ion-list show-delete="vm.showDelete" show-reorder="vm.showReorder">
                        <div class="list list-inset">
                            <ion-item ng-repeat="(key_comment, comment) in vm.listComments" class="item-text-wrap item-icon-right"
                                      ng-click="!vm.edition || vm.editComment(key_comment, comment)">
                                {{comment.text}}

                                <ion-delete-button class="ion-minus-circled"
                                    ng-click="vm.removeComment(key_comment)">
                                </ion-delete-button>
                                <ion-reorder-button class="ion-navicon"
                                    on-reorder="vm.reorderItem(comment, $fromIndex, $toIndex)">
                                </ion-reorder-button>
                            </ion-item>
                        </div>
                    </ion-list>

                </ion-content>
            </ion-view>
        </ion-nav-view>
	</body>
</html>