<ion-modal-view>
    <ion-header-bar class="bar-positive" align-title="center">
        <h1 class="title">A propos de l'application...</h1>
        <button class="button button-energized button-clear icon ion-close-round"
                data-ng-click="modalPurpose.remove();"> 
            <b>Fermer</b>          
        </button>
    </ion-header-bar>
    
    <div class="bar bar-subheader bar-positive">
      <h2 class="title">GREATHE</h2>
    </div>
    
    <ion-content class="has-header has-subheader">
  
        <div class="list">
            <div class="item item-divider item-text-wrap">
                Greathe (Greffe Grenoble Education Thérapeutique) est un programme d'éducation thérapeutique destiné aux patients nouvellement transplantés pulmonaires, 
                au sein du Centre Hospitalier Universitaire Grenoble Alpes.
            </div>
            <a class="item">
                <div class="col">
                    <i class="icon ion-ionic color-energized"></i> 
                    <em class="item-text-wrap" style="padding-left:5px;">
                        Concepteur : Laura ANGLEVIEL, Sébastien CHANOINE et Pierrick BEDOUCH
                    </em>
                    <br>
                </div>
                <div class="col">
                    <i class="icon ion-ionic color-energized"></i> 
                    <em class="item-text-wrap" style="padding-left:5px;">
                        Maîtres d'oeuvre : Laura ANGLEVIEL et Sébastien CHANOINE
                    </em>
                    <br>
                </div>
                <div class="col">
                    <i class="icon ion-ionic color-energized"></i> 
                    <em class="item-text-wrap" style="padding-left:5px;">
                        Développeur : Rémi PRIVET
                    </em>
                    <br>
                </div>
            </a>
            <div class="item item-divider item-text-wrap">
                Sources :
            </div>
            <a class="item">
                <div class="col">
                    <i class="icon ion-ionic color-energized"></i> 
                    <em class="item-text-wrap" style="padding-left:5px;">
                        GETTAM (Groupe d'Education Thérapeutique du Transplanté Adulte Mucoviscidose)
                    </em>
                    <br>
                </div>
            </a>
        </div>

    </ion-content>
    
</ion-modal-view>