<ion-modal-view>
    <ion-header-bar class="bar-positive" align-title="center">
        <h1 class="title">Quelques précisions...</h1>
        <button class="button button-energized button-clear icon ion-close-round"
                data-ng-click="modalAntiReject.remove();"> 
            <b>Fermer</b>          
        </button>
    </ion-header-bar>
    
    <div class="bar bar-subheader bar-positive">
      <h2 class="title">Vos Anti-rejets</h2>
    </div>
    
    <ion-slide-box> 
				
        <!-- Slide 1 with ng repeat -->
        <ion-slide ng-repeat="(key_med, medicine) in vm.patient.listAntiReject"
                                  ng-init="medIndex = $index" dynamic-slides="vm.patient.listAntiReject">

            <ion-content class="has-header has-subheader" id="mainScroll-{{$index + 100}}" style="padding-top:20px;">
                
                <h4 class="maincolor" style="margin-top:20px; padding-left:10px">
                    {{medicine.antireject.medicine.name}}
                </h4>
                
                <div class="row" class="color-grey" style="padding-top: 10px; padding-left: 10px;">
                    <em ng-if="medicine.antireject.medicine.infos.family">{{medicine.antireject.medicine.infos.family}}<br></em>  
                    <em ng-if="medicine.antireject.medicine.infos.dosage">{{medicine.antireject.medicine.infos.dosage}}<br></em>
                    <em ng-if="medicine.antireject.medicine.infos.frequence">{{medicine.antireject.medicine.infos.frequence}}<br></em>
                    <em ng-if="medicine.antireject.medicine.infos.time">{{medicine.antireject.medicine.infos.time}}<br></em>
                </div>
                
                <div class="list" style="padding-top: 20px">
                    <div class="item item-divider">
                        <b>Surveillance</b>
                    </div>
                    <a class="item item-icon-left" ng-repeat="surveillance in medicine.antireject.medicine.infos.surveillance">
                        <i class="icon ion-ionic color-energized"></i> 
                        {{surveillance.name}}
                    </a>
                </div>

                
                            
            </ion-content>
        </ion-slide>
    </ion-slide-box>
</ion-modal-view>